@{
    <div>
        <div class="modal fade" id="diff" tabindex="-1" role="dialog" aria-labelledby="dialog_confirm_mapLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <h1 style="text-align:center;">Select Dificulty</h1>
                    </div>
                    <div class="modal-footer">
                        <div class="grid_modal">
                            <button type="button" class="btn btn-success" data-dismiss="modal" name="ds" value="1">Easy</button>
                            <button type="button" class="btn btn-warning" data-dismiss="modal" name="ds" value="2">Medium</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal" name="ds" value="3">Hard</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="leftpanel">

        </div>
        <div id="game">
            <br /><br />

        </div>
        <div id="rightpanel">

        </div>
    </div>
}
